<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/css/Site.css")
    @Styles.Render("~/Content/css/PagedList.css")
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            @Html.ActionLink("Library", "Index", "Home", null, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <div class="btn-group">
                            <a href="@Url.Action("All", "Book")" type="button" class="btn btn-dark">Books</a>
                            <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="@Url.Action("All", "Author")">Authors</a>
                                <a class="dropdown-item" href="@Url.Action("All", "Publisher")">Publishers</a>
                                <a class="dropdown-item" href="@Url.Action("All", "Genre")">Genres</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })
                    </li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        if (User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Admin
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="@Url.Action("UserManagment", "Admin")">Manage users</a>
                                        <a class="dropdown-item" href="@Url.Action("AddBook", "Book")">Add Books</a>
                                    </div>
                                </div>
                            </li>
                        }
                        if (User.IsInRole("admin") || User.IsInRole("librarian"))
                        {
                            <a class="nav-link active" href="@Url.Action("Requests", "Librarian")">Librarian</a>
                        }
                        <li>
                            <a class="nav-link active" href="@Url.Action("Account", "Home")">Hi, @User.Identity.Name</a>
                        </li>
                        <li>@Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "nav-link" }) </li>
                    }
                </ul>
            </div>
        </div>
    </header>
    <main id="main" class="container pt-5 lg-6 mb-4">
        <div class="container">

            <div class="row">

                <div class="col-md-12">

                    @RenderSection("Body")


                </div>
            </div>
        </div>
    </main>
    <footer class="footer mt-auto py-3">
        <div class="container inner">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; @DateTime.Now.Year RTRDD</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
