@model EpamLibrary.WEB.Models.IndexViewModel<BookViewModel>
@using EpamLibrary.WEB.Models.BookVM
@using EpamLibrary.WEB.App_Code
@{
    ViewBag.Title = "Books";
}
@section Body{
    <div class="row">
        <div class="col-lg-9">
            <div class="btn-group">
                @Html.PageLinks(Model.Pager, x => Url.Action("All", new { search = Session["search"], start = Session["start"], end = Session["end"], page = x }))
            </div>
            <div class="row">
                @if (Model.Items.Count() == 0)
                {
                    <h2>No books found</h2>
                }
                @foreach (var book in Model.Items)
                {

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="@Url.Action("Details", "Book", new { id = book.Id })">
                                @Html.CreateImage(book.ImagePath, "card-img-top")
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="@Url.Action("Details", "Book", new { id = book.Id })" class="text-dark">@book.Name</a>
                                </h4>
                                <p class="card-text"></p>
                            </div>
                            <div class="card-footer text-muted">
                                <a> @book.PublicationDate.ToShortDateString()</a>
                            </div>
                        </div>
                    </div>


                }
            </div>
            <div class="btn-group">
                @Html.PageLinks(Model.Pager, x => Url.Action("All", new { search = Session["search"], start = Session["start"], end = Session["end"], page = x  }))
            </div>
        </div>
        <div class="col-lg-3">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" name="search" placeholder="Search this library" value="@Session["search"]">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit" value="Search">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <p>From</p>
                        <input type="date" class="form-control" name="start" value="@Session["start"]">
                    </div>
                    <div class="form-group form-group-sm">
                        <p>To</p>
                        <input type="date" class="form-control" name="end" value="@Session["end"]">
                    </div>
                    <div class="form-group form-group-sm">
                        <p>By name</p>
                        <input type="checkbox" class="form-control" name="alphabet" value="@Session["alphabet"]">
                    </div>
                    <div class="form-group-sm">
                        <input type="submit" value="Search" class="btn btn-secondary" />
                        @if (Session["search"] != null || Session["start"] != null || Session["end"] != null)
                        {
                            <a href="@Url.Action("All", "Book")" class="btn btn-secondary">Clear search</a>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
}
